<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header style="padding-left:1em;">
    <h1 class="font--scale0""> {{model.lesson}}</h1>
</header>
<ul>
{{#each checkpoint in model.checkpoints}}
<li>{{#linkTo "checkpoint" checkpoint}}{{checkpoint.checkpoint}}{{/linkTo}}</li>
{{/each}}
</ul>
