<center><h1>{{unbound subject}}</h1></center>
<section class='subject'>
  <article class="topics">
    {{partial "topics"}}
  </article>
  <article class="seab-topics">
    {{partial "seab_topics"}}
  </article>
</section>
