@import "bourbon";
@import "neat";

section {
  @include outer-container;
  aside { @include span-columns(4); }
  article { @include span-columns(8);
    ul {
      list-style-type: none;
      li {
        a { text-decoration: none;
        }
      }
    }
  }
}

section.subject {
  @include outer-container;
  article.topics {@include span-columns(6); }
  article.seab-topics {@include span-columns(6); }
}

section.generic {
  @include outer-container;
  aside { @include span-columns(6); }
  article { @include span-columns(6);
    ul {
      list-style-type: none;
      li {
        a { text-decoration: none;
        }
      }
    }
  }
}
.container {
  width: 90%;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}

.header {
    text-align: center;
}

.site-nav ul {
    margin: 0;
    padding: 2em;
}
.site-nav
li {
    list-style-type: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-transform: uppercase;
    margin: 0 2.5%;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 0.8em;
}

.site-nav li
a {
    text-decoration: none;
    color: #403f3b;
}
.site-nav li a:hover {
    color: #3cc;
}

.learn {
  color: #3cc;
  font-size: 2em;
}
