<script type="text/x-handlebars" charset="utf-8">
<nav>
	<ul>
	  <li>{{#linkTo 'home'}}Home{{/linkTo}}</li>
	  <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
	  <li>{{#linkTo 'outreach'}}Outreach{{/linkTo}}</li>
	  <li>{{#linkTo 'partners'}}Partners{{/linkTo}}</li>
	  <li>{{#linkTo 'subjects'}}Subjects{{/linkTo}}</li>
	</ul>
</nav>
<br>
{{outlet}}
</script>

<%= javascript_include_tag "templates/all" %>
